th,
td {
    text-align: center;
    vertical-align: middle;
}
.left-img {
    object-fit: scale-down;
}
#dark-link {
    text-decoration: none;
    color: grey;
}

.dot {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    display: inline-block;
}

.table-subdomain {
    overflow-x: scroll;
}

#tr-subdomain th {
    min-width: 110px;
    vertical-align: middle;
}

#tr-subdomain th.th-tanggal {
    min-width: 130px;
}

.bg-sidebar-custom {
    background-color: #5c37e2;
}

th.w-nama-instansi,
td.w-nama-instansi {
    width: 400px;
}

.w-custom-xs {
    width: 75px;
}

.w-custom-sm {
    width: 180px;
}

.w-custom-md {
    width: 300px;
}

.w-custom-lg {
    width: 450px;
}

.h-table {
    height: 500px;
}

.shadow-bottom {
    -webkit-box-shadow: 15px 0px 67px -27px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 15px 0px 67px -27px rgba(0, 0, 0, 0.75);
    box-shadow: 15px 0px 67px -27px rgba(0, 0, 0, 0.75);
}

.modal-xl {
    max-width: 70%;
}

.notification {
    position: relative;
    display: inline-block;
}

.notification .badge {
    position: absolute;
    /* top: -10px; */
    right: 0px;
    padding: 5px 10px;
    background: red;
    color: white;
}

.bg-new-primary {
    background: rgb(111, 155, 255);
    background: linear-gradient(
        180deg,
        rgba(111, 155, 255, 1) 0%,
        rgba(0, 121, 255, 1) 48%,
        rgba(8, 99, 222, 1) 99%
    );
}

.bg-new-secondary {
    background-color: rgb(216, 216, 216);
}
